#header-logo
{
    font-size: 48px;
}

.header-main
{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #000;
}

.header-menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-menu-item
{
    margin: 10px;
    font-size: 24px;
    text-decoration: none;
    color: #000;
    border: 0.5px solid #ddd;
    padding: 8px;
    border-radius: 2px;
    background-color: #eee;
}

.header-menu-item:visited
{
    color: #000;
}

.header-menu-item:link
{
    color: #000;
}

.header-menu-item:active
{
    color: #0000ff;
    text-decoration: underline;
}

.header-menu-item:hover
{
    color: #0000ff;
    text-decoration: underline;
}

.header-profile-img
{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu-profile
{
    border-radius: 500px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-menu
{
    visibility: hidden;
    width: 0;
    height: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.profile-menu-item
{
    background-color: #fff;
    padding: 10px 15px;
    border-left: .5px solid #000;
    border-right: .5px solid #000;
    text-decoration: none;
    color: #000;
    width: 100%;
    text-align: center;
    font-size: 24px;
    
}

.profile-menu-is-active
{
    visibility: visible;
}

.profile-menu-item:first-child
{
    border-top: .5px solid #000;
    border-radius: 5px 5px 0 0;
}

.profile-menu-item:last-child
{
    border-bottom: .5px solid #000;
    border-radius: 0 0 5px 5px;
}

.profile-menu-item:hover
{
    background-color: #eee;
}